
* {
    font-family: helveticaneue, 'helvetica neue', helvetica-neue, helvetica, sans-serif;
}

div.tabs-group {
    background-color: #bbb;
}

div.tabs-group div.container div.row div.col-3 {
    box-shadow: 0 0 0 0 black;
    height: 50px;
    overflow: hidden;
}

div.tabs-group div.container div.row div.col-3 input {
    visibility: hidden;
    position: absolute;
}

div.tabs-group div.container div.row div.col-3 input:checked + label {
    /*
    background-image: url(https://www.axway.com/sites/default/files/styles/panopoly_image_original/public/axway-tab-background.png);
    */
    background-size: cover;
    background-position: top right;
    background-color: #111;
    background-repeat: no-repeat;
    color: #eee;
}

div.tabs-group div.container div.row div.col-3 input:checked + label:hover {
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0) !important;
}

div.tabs-group div.container div.row div.col-3 label {
    text-align: center;
    width: calc(100% + 30px);
    margin-bottom: 0 !important;
    color: #444;
    height: 100%;
    position: relative;
    line-height: 18px;
    font-size: 16px;
    vertical-align: middle !important;
    left: -15px;
    padding: 5px 10px;
    box-shadow: inset 0 0 0 1000px rgba(187, 187, 187, 0);
}

div.tabs-group div.container div.row div.col-3 label:hover {
    opacity: 1000;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(150, 150, 150, 0.4);
}

div.tabs-group div.container div.row div.col-3 label:clicked {
    box-shadow: inset 0 0 0 1000px rgba(187, 187, 187, 0);
}

div.tabs-group div.container div.row div.col-3 label p {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#ecard {
    width: 100%;
    height: auto !important;
    background-position: center center;
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/https://pollcart.github.io/images/hero-five.jpg);
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
    padding-bottom: 50px;
}

/*
m or medium media query
*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*
lg or large media query
*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*
xl media query
*/
@media (min-width: 1200px) {

}

/*
xs or (default) media query
*/
@media (max-width: 479px) {
    div.tabs-group div.container div.col-3 label {
        font-size: 8px !important;
        line-height: 9px !important;
    }


}

/*
sm or small media query
*/
@media (min-width: 480px) and (max-width: 767px) {
    div.tabs-group div.container div.col-3 label {
        font-size: 12px;
        line-height: 16px !important;
    }


}

/*
Gray-Out Color Images from
http://stackoverflow.com/questions/286275/gray-out-image-with-css
*/

img.gray-image {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.stroke {
    /* WebKit (Safari/Chrome) Only */
    -webkit-text-stroke: 1px black;

    /* If we weren't using text-shadow, we'd set a fallback color
       and use this to set color instead
      -webkit-text-fill-color: white; */

    color: white;

    text-shadow: 3px 3px 0 #000,
        /* Simulated effect for Firefox and Opera
           and nice enhancement for WebKit */ -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.stroke-dark {
    /*
    -webkit-text-stroke: 1px rgba(255, 255, 255, .1);
    */
    color: black;
    text-shadow: 0 0 0 rgba(255, 255, 255, .3),
        /* Simulated effect for Firefox and Opera and nice enhancement for WebKit */
    -1px -1px 1px rgba(255, 255, 255, .3),
    1px -1px 1px rgba(255, 255, 255, .3),
    -1px 1px 1px rgba(255, 255, 255, .3),
    1px 1px 1px rgba(255, 255, 255, .3);
}

#slide-intro {display: block}
#slide-2 {display:none}
#slide-3 {display:none}
#slide-4 {display:none}

/*
Asset CTA Boxes
*/
div.asset-triangle-cta-box {
    height: 125px;
    background-size: auto 125px;
    background-position: 125px bottom;
    background-repeat: no-repeat;
    position: relative;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    /*
    display: none;
    */
}
div.asset-triangle-cta-box:before {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 125px solid white;
    border-right: 125px solid transparent;
    content: "";
    left: 125px;
    z-index: 0;
}
div.asset-triangle-cta-box p {
    position: absolute;
    width: 60%;
    padding: 10px 0 0 10px;
    font-size: 16px;
    line-height: 22px;
}
div.asset-triangle-cta-box button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}
div.asset-triangle-cta-box.asset-box-one {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/125/abstract/);
}
div.asset-triangle-cta-box.asset-box-two {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/126/animal/);
}
div.asset-triangle-cta-box.asset-box-three {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/127/people/);
}
div.asset-triangle-cta-box.asset-box-four {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/128/abstract/);
}
div.asset-triangle-cta-box.asset-box-five {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/129/city/);
}
div.asset-triangle-cta-box.asset-box-six {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/130/technics/);
}
div.asset-triangle-cta-box.asset-box-seven {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/131/abstract/);
}
div.asset-triangle-cta-box.asset-box-eight {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/132/sports/);
}
div.asset-triangle-cta-box.asset-box-nine {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/133/people/);
}
div.asset-triangle-cta-box.asset-box-ten {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/134/abstract/);
}
div.asset-triangle-cta-box.asset-box-eleven {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/400/210/nature/);
}
div.asset-triangle-cta-box.asset-box-twelve {
    background-image: url(https://res.cloudinary.com/pollcart/image/fetch/q_auto,f_auto,w_auto/http://lorempixel.com/600/135/transport/);
}

@media (max-width: 479px) {

}
@media (min-width: 480px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
